<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.roundcone.angulartodo"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>AngularTodo</name>

    <description>
        Simple Angular todo app
    </description>

    <author href="https://www.roundcone.com" email="info@roundcone.com">
        Rik Dekyvere
    </author>
        
         <!-- Define app splash screen for each platform. -->
   
        
<!-- Define app icon for each platform. -->
    <icon src="icon.png" width="512" height="512" />        

</widget>